@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=IBM+Plex+Sans:wght@500;700&display=swap");



@media (max-width: 768px) {
  body {
    height: auto;
  }
}

.card {
  background-color: #F5F5FD;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 0 10px #fff;
  max-width: 588px;
  width: 100%;
}
@media (max-width: 768px) {
  .card {
    width: 90%;
    margin: 100px auto;
  }
}
.card h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 26px;
  color: #13123C;
  margin: 20px 10px;
}
.card .details {
  margin-top: 60px;
  color: #13123C;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .card .details {
    gap: 50px;
  }
}
.card .details div {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: 16px;
  flex-direction: column;
}
.card .details div .time {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  border: none;
  gap: 15px;
  margin: 50px auto;
}
.buttons button {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
  border: none;
  padding: 20px;
  max-width: 224px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .buttons button {
    max-width: unset;
  }
}
.buttons button.register {
  background-color: #0F0E2F;
  color: #fff;
}
.buttons button.register:hover {
  background-color: #1c1a56;
}
.buttons button.calendar {
  background-color: transparent;
  border: 1px solid #0F0E2F;
}
.buttons button.calendar i {
  margin-right: 8px;
}
.buttons button.calendar:hover {
  background-color: #cbcbf5;
}