/*==============================================
    News One Sec
===============================================*/
.news-one-sec {
    position: relative;
    display: block;
    padding: 120px 0 90px;
    overflow: hidden;
    z-index: 1;
}

.news-one-sec__shape-1 {
    position: absolute;
    top: 0;
    left: 0px;
    opacity: .4;
    z-index: -1;
}

.news-one-sec__shape-1 img {
    width: auto;
}

.news-one-sec__shape-2 {
    position: absolute;
    bottom: 0;
    right: -50px;
    opacity: .4;
    z-index: -1;
}

.news-one-sec__shape-2 img {
    width: auto;
}

.news-one-sec__single {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.news-one-sec__img {
    position: relative;
    display: block;
    border-radius: var(--tedlife-bdr-radius);
    background-color: var(--tedlife-black);
    overflow: hidden;
}

.news-one-sec__img img {
    width: 100%;
    mix-blend-mode: luminosity;
    border-radius: var(--tedlife-bdr-radius);
}

.news-one-sec__img>a {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--tedlife-black-rgb), 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--tedlife-base);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: perspective(400px) rotateX(-90deg) scale(0.2);
    -ms-transform: perspective(400px) rotateX(-90deg) scale(0.2);
    transform: perspective(400px) rotateX(-90deg) scale(0.2);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    border-radius: var(--tedlife-bdr-radius);
}

.news-one-sec__img>a>span {
    position: relative;
}

.news-one-sec__img>a>span::before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--tedlife-base);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease;
}

.news-one-sec__img>a>span::after {
    content: '';
    transition: all 500ms ease;
    width: 2px;
    height: 20px;
    background-color: var(--tedlife-base);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-one-sec__img>a:hover>span::before,
.news-one-sec__img>a:hover>span::after {
    background-color: var(--tedlife-white);
}

.news-one-sec__single:hover .news-one-sec__img>a {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg) scale(1.0);
    -ms-transform: perspective(400px) rotateX(0deg) scale(1.0);
    transform: perspective(400px) rotateX(0deg) scale(1.0);
}

.news-one-sec__content {
    position: relative;
    display: block;
    margin-top: 14px;
}

.news-one__meta {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.news-one__meta li+li {
    margin-left: 20px;
}

.news-one__meta li a {
    font-size: 16px;
    color: var(--tedlife-black);
    transition: all 500ms ease;
}

.news-one__meta li a:hover {
    color: var(--tedlife-base)
}

.news-one__meta li a i {
    padding-right: 6px;
}

.news-one-sec__title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    margin-top: 14px;
    margin-bottom: 6px;
}

.news-one-sec__title a {
    color: var(--tedlife-black);
    transition: all 500ms ease;
}

.news-one-sec__title a:hover {
    color: var(--tedlife-base);
}

.news-one-sec__text {
    color: var(--tedlife-black);
    margin: 0;
    padding-bottom: 25px;
}

.news-one-sec__btn {
    position: relative;
    display: inline-block;
    color: var(--tedlife-black);
    background-color: #f7f7f7;
    padding: 5px 25px;
    border-radius: var(--tedlife-bdr-radius);
    transition: all 500ms ease;
}

.news-one-sec__btn:hover {
    color: var(--tedlife-white);
    background-color: var(--tedlife-base);
}

/*--------------------------------------------------------------
# News Two
--------------------------------------------------------------*/
.news-two {
    position: relative;
    display: block;
    padding: 120px 0 90px;
    z-index: 1;
}

.news-two__single {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.news-two__img {
    position: relative;
    display: block;
    border-top-left-radius: var(--tedlife-bdr-radius);
    border-top-right-radius: var(--tedlife-bdr-radius);
    overflow: hidden;
}

.news-two__img>img {
    width: 100%;
    border-top-left-radius: var(--tedlife-bdr-radius);
    border-top-right-radius: var(--tedlife-bdr-radius);
    object-fit: cover;
    width: 100%;
    transition: all 1s ease-in-out;
    filter: grayscale(1);
}

.news-two__single:hover .news-two__img img {
    transform: scale(1.1);
}

.news-two__img>a {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--tedlife-black-rgb), 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--tedlife-base);
    border-top-left-radius: var(--tedlife-bdr-radius);
    border-top-right-radius: var(--tedlife-bdr-radius);
    transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30%);
}

.news-two__img>a>span {
    position: relative;
}

.news-two__img>a>span::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: var(--tedlife-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease;
}

.news-two__img>a>span::after {
    content: "";
    transition: all 500ms ease;
    width: 2px;
    height: 20px;
    background-color: var(--tedlife-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-two__img>a:hover>span::before,
.news-two__img>a:hover>span::after {
    background-color: var(--tedlife-base);
}

.news-two__single:hover .news-two__img>a {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
}

.news-two__date {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--tedlife-base);
    padding: 15px 20px 12px;
    border-radius: var(--tedlife-bdr-radius);
}

.news-two__date p {
    font-size: 18px;
    color: var(--tedlife-white);
    margin: 0;
    line-height: 20px;
    text-align: center;
    font-family: var(--tedlife-font-two);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    position: relative;
}

.news-two__content {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-bottom-left-radius: var(--tedlife-bdr-radius);
    border-bottom-right-radius: var(--tedlife-bdr-radius);
    padding: 32px 40px 40px;
}

.news-two__meta {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.news-two__meta li {
    position: relative;
    display: block;
    line-height: 26px;
}

.news-two__meta li+li {
    margin-left: 10px;
}

.news-two__meta li a {
    font-size: 14px;
    color: var(--tedlife-gray);
    transition: all 500ms ease;
}

.news-two__meta li a:hover {
    color: var(--tedlife-base);
}

.news-two__meta li a i {
    color: var(--tedlife-base);
}

.news-two__title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.news-two__title>a {
    color: var(--tedlife-black);
    transition: all 500ms ease;
}

.news-two__title>a:hover {
    color: var(--tedlife-base);
}

.news-two__person {
    position: relative;
    display: flex;
    align-items: center;
}

.news-two__person-img {
    border-radius: 50%;
    position: relative;
    display: block;
}

.news-two__person-img>img {
    width: auto;
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

.news-two__person-content {
    margin-left: 10px;
}

.news-two__person-content p {
    font-size: 14px;
    margin: 0;
    line-height: 24px;
}

/*--------------------------------------------------------------
# News Three
--------------------------------------------------------------*/
.news-three {
    position: relative;
    display: block;
    background-color: var(--tedlife-black);
    padding: 120px 0 90px;
    z-index: 1;
}

.news-three__shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: .20;
}

.news-three .section-title__title {
    color: var(--tedlife-white);
}

.news-three__single {
    position: relative;
    display: block;
    background-color: var(--tedlife-black);
    padding: 50px 30px 42px;
    margin-bottom: 30px;
    border-radius: var(--tedlife-bdr-radius);
    overflow: hidden;
    z-index: 1;
}

.news-three__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: luminosity;
    transform: scale(1.01);
    transition: transform .5s cubic-bezier(.27, .48, .45, .94);
    transform-origin: 70% 80%;
    z-index: -1;
}

.news-three__bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--tedlife-black-rgb), .70);
    z-index: -1;
}

.news-three__bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tedlife-black);
    opacity: .80;
    transition: all 0.5s linear;
    z-index: 1;
}

.news-three__single:hover .news-three__bg:before {
    opacity: 0;
}

.news-three__single:hover .news-three__bg {
    transform: scale(1.036);
    transition-duration: .9s;
}

.news-three__tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--tedlife-base);
    padding: 8px 17px 6px;
    border-radius: 5px;
}

.news-three__tag p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--tedlife-white);
    line-height: 15px;
}

.news-three__content-box {
    position: relative;
    display: block;
    margin-top: 192px;
}

.news-three__tttle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.news-three__tttle a {
    color: var(--tedlife-white);
    webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.news-three__tttle a:hover {
    color: var(--tedlife-base);
}

.news-three__meta {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.news-three__meta li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--tedlife-white);
}

.news-three__meta li+li {
    margin-left: 10px;
}

.news-three__meta li span {
    position: relative;
    display: inline-block;
    top: -4px;
}


/*--------------------------------------------------------------
# News Four
--------------------------------------------------------------*/
.news-four {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 120px 0 90px;
    z-index: 2;
}

.news-four__shape-1 {
    position: absolute;
    top: 75px;
    bottom: 75px;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.news-four .section-title {
    margin-top: -1px;
}

.news-four__single {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    padding: 20px 20px 30px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.news-four__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: var(--tedlife-bdr-radius);
    background-color: var(--tedlife-black);
    z-index: 1;
}

.news-four__img:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 100%;
    background-color: rgba(var(--tedlife-black-rgb), .70);
    visibility: hidden;
    opacity: 0;
    transform-style: preserve-3d;
    transform: perspective(370px) translateY(100%);
    transform-origin: left;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    z-index: 1;
}


.news-four__single:hover .news-four__img:before {
    visibility: visible;
    opacity: 1;
    transform: perspective(370px) translateY(0%);
}

.news-four__img:after {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: rgba(var(--tedlife-black-rgb), .70);
    visibility: hidden;
    opacity: 0;
    transform-style: preserve-3d;
    transform: perspective(370px) translateY(-100%);
    transform-origin: top;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    z-index: 1;
}

.news-four__single:hover .news-four__img:after {
    visibility: visible;
    opacity: 1;
    transform: perspective(370px) translateY(0%);
}

.news-four__img img {
    width: 100%;
    border-radius: var(--tedlife-bdr-radius);
    mix-blend-mode: luminosity;
}

.news-four__plus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg) scale(0);
    transition: all 600ms ease;
    z-index: 3;
}

.news-four__single:hover .news-four__plus {
    transform: rotate(0deg) scale(1);
    transition-delay: 700ms;
}

.news-four__plus a {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: var(--tedlife-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--tedlife-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.news-four__plus a:hover {
    color: var(--tedlife-black);
    background-color: var(--tedlife-base);
}

.news-four__content {
    position: relative;
    display: block;
}

.news-four__meta {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 27px;
}

.news-four__meta li {
    position: relative;
    display: block;
}

.news-four__meta li+li {
    margin-left: 20px;
}

.news-four__meta li a {
    color: var(--tedlife-black);
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.news-four__meta li a:hover {
    color: var(--tedlife-base);
}

.news-four__meta li a i {
    color: var(--tedlife-base);
    margin-right: 10px;
}

.news-four__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 16px;
    margin-bottom: 21px;
    text-transform: uppercase;
}

.news-four__title a {
    color: var(--tedlife-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.news-four__title a:hover {
    color: var(--tedlife-base);
}

/*--------------------------------------------------------------
# News Page V-3
--------------------------------------------------------------*/
.news-page-v3 {
    padding: 120px 0 165px;
    margin-bottom: -75px;
}


/*--------------------------------------------------------------
# News Details
--------------------------------------------------------------*/
.news-details {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 5;
}

.news-details__left {
    position: relative;
    display: block;
    padding: 40px 40px 30px;
    background-color: var(--tedlife-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-radius: var(--tedlife-bdr-radius);
    margin-bottom: 60px;
}

.news-details__img {
    position: relative;
    display: block;
}

.news-details__img img {
    width: 100%;
    border-radius: var(--tedlife-bdr-radius);
}

.news-details__meta {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 12px;
}

.news-details__meta p {
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.news-details__meta p+p {
    margin-left: 20px;
}

.news-details__meta p span {
    position: relative;
    margin-right: 10px;
    color: var(--tedlife-base);
}

.news-details__title-1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

.news-details__text-1 {
    margin-top: 29px;
    margin-bottom: 22px;
}

.news-details__text-3 {
    margin-top: 22px;
    margin-bottom: 39px;
}

.news-details__text-box {
    position: relative;
    display: block;
    border-radius: var(--tedlife-bdr-radius);
    padding: 50px 50px 44px;
    background-color: var(--tedlife-primary);
}

.news-details__text-box p {
    font-size: 20px;
    font-style: italic;
    line-height: 34px;
}

.news-details__text-box>span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding-left: 47px;
    margin-top: 24px;
}

.news-details__text-box>span::before {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: var(--tedlife-base);
}

.news-details__quote {
    position: absolute;
    left: 50px;
    top: 44px;
}

.news-details__quote>span {
    position: relative;
    display: inline-block;
    font-size: 65px;
    color: rgba(var(--tedlife-base-rgb), .2);
}

.news-details__title-2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 42px;
    margin-bottom: 23px;
}

.news-details__text-5 {
    margin-top: 22px;
    margin-bottom: 22px;
}

.news-details__img-2 {
    position: relative;
    display: block;
    margin-top: 39px;
    margin-bottom: 44px;
}

.news-details__img-2 img {
    width: 100%;
    filter: grayscale(1);
    border-radius: var(--tedlife-bdr-radius);
}

.news-details__title-3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

.news-details__text-7 {
    margin-top: 31px;
    margin-bottom: 22px;
}

.news-details__text-9 {
    margin-top: 22px;
    margin-bottom: 22px;
}

.news-details__tag-and-social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
    padding-top: 30px;
}

.news-details__tag-and-social::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    right: -40px;
    height: 1px;
    background-color: rgba(var(--tedlife-gray-rgb), .2);
}

.news-details__tag {
    position: relative;
    display: flex;
    align-items: center;
}

.news-details__tag>span {
    font-size: 22px;
    color: var(--tedlife-black);
    position: relative;
    margin-right: 10px;
    font-weight: 500;
    font-family: var(--tedlife-font-two);
    text-transform: uppercase;
    top: 2px;
}

.news-details__tag a {
    font-size: 16px;
    color: var(--tedlife-gray);
    line-height: 26px;
    background-color: var(--tedlife-primary);
    border-radius: var(--tedlife-bdr-radius);
    padding: 4px 20px 4px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.news-details__tag a:hover {
    background-color: var(--tedlife-base);
    color: var(--tedlife-white);
}

.news-details__tag a+a {
    margin-left: 10px;
}

.news-details__social {
    position: relative;
    display: flex;
    align-items: center;
}

.news-details__social>span {
    font-size: 22px;
    color: var(--tedlife-black);
    position: relative;
    margin-right: 10px;
    font-weight: 500;
    font-family: var(--tedlife-font-two);
    text-transform: uppercase;
    top: 2px;
}

.news-details__social>a {
    position: relative;
    font-size: 15px;
    color: var(--tedlife-gray);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--tedlife-primary);
    border-radius: var(--tedlife-bdr-radius);
}

.news-details__social>a:hover {
    color: var(--tedlife-white);
    background-color: var(--tedlife-base);
}

.news-details__social>a+a {
    margin-left: 10px;
}

/*--------------------------------------------------------------
  ## Comments
  --------------------------------------------------------------*/
.news-details__bottom {
    position: relative;
    display: block;
    background-color: var(--tedlife-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-radius: var(--tedlife-bdr-radius);
    padding: 42px 40px 40px;
}

.blog-details__comment-and-form {
    position: relative;
    display: block;
    margin-top: 44px;
}

.comment-one__title,
.comment-form__title {
    margin: 0;
    border-bottom: 1px solid rgba(var(--tedlife-gray-rgb), .2);
    padding-bottom: 28px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}

.comment-one__single {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 23px;
}

.comment-one__single::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 70px;
    right: 0;
    height: 1px;
    background-color: rgba(var(--tedlife-gray-rgb), .2);
}

.comment-one__single-2::before {
    left: 0px;
}

.comment-one__single-2 {
    margin-left: 70px;
}

.comment-one__content {
    position: relative;
    margin-left: 20px;
    margin-top: 3px;
}

.comment-one__content h4 {
    font-size: 20px;
    color: var(--tedlife-black);
    font-weight: 500;
    text-transform: uppercase;
}

.comment-one__content span {
    font-size: 14px;
    font-weight: 400;
    color: var(--tedlife-gray);
}

.comment-one__content p {
    margin-top: 11px;
    font-size: 16px;
    line-height: 28px;
}

.comment-one__btn {
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 16px;
    line-height: 23px;
    color: var(--tedlife-black);
    font-weight: 500;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
}

.comment-one__btn:hover {
    color: var(--tedlife-base);
}

.comment-one__btn>span {
    position: relative;
    margin-left: 5px;
    font-size: 15px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.comment-one__btn:hover span {
    color: var(--tedlife-base);
}

.comment-one__image {
    position: relative;
    display: block;
    border-radius: 50%;
}

.comment-one__image img {
    width: auto;
    border-radius: 50%;
    filter: grayscale(1);
}

.comment-form {
    position: relative;
    display: block;
    padding-top: 30px;
}

.comment-form .comment-form__title {
    margin-bottom: 11px;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}

.comment-form__text {
    margin-bottom: 43px;
}

.comment-form__input-box {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.comment-form__input-box input[type="text"],
.comment-form__input-box input[type="email"] {
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(var(--tedlife-gray-rgb), .2);
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--tedlife-gray);
    display: block;
    border-radius: var(--tedlife-bdr-radius);
}

.comment-form__input-box textarea {
    height: 175px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(var(--tedlife-gray-rgb), .2);
    padding: 15px 20px 30px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--tedlife-gray);
    position: relative;
    display: block;
    border-radius: var(--tedlife-bdr-radius);
}

.comment-form__input-box.text-message-box {
    height: 175px;
}

.comment-form__btn-box {
    position: relative;
    display: block;
}

.comment-form__btn {
    border: none;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
@media (max-width: 991px) {
    .sidebar {
        margin-top: 50px;
    }

    .sidebar--two {
        margin-top: 0;
        margin-bottom: 50px;
    }

}

.sidebar__single+.sidebar__single {
    margin-top: 30px;
}

.sidebar {
    position: relative;
    display: block;
}

.sidebar__title-box {
    position: relative;
    display: block;
    margin-bottom: 19px;
}

.sidebar__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebar__search {
    position: relative;
    display: block;
    padding: 32px 30px 30px;
    background-color: var(--tedlife-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__search-form {
    position: relative;
    display: block;
}

.sidebar__search-form input[type="search"] {
    display: block;
    outline: none;
    background-color: var(--tedlife-primary);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    height: 55px;
    width: 100%;
    padding-right: 60px;
    border: none;
    color: var(--tedlife-gray);
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__search-form button[type="submit"] {
    color: var(--tedlife-white);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0px;
    max-width: 55px;
    width: 100%;
    bottom: 0;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: var(--tedlife-bdr-radius);
    background-color: var(--tedlife-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sidebar__search-form button[type="submit"]:hover {
    background-color: var(--tedlife-black);
}

.sidebar__category {
    position: relative;
    display: block;
    padding: 32px 30px 30px;
    background-color: var(--tedlife-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__category-list {
    position: relative;
    display: block;
}

.sidebar__category-list li {
    position: relative;
    display: block;
}

.sidebar__category-list li+li {
    margin-top: 10px;
}

.sidebar__category-list li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tedlife-primary);
    color: var(--tedlife-gray);
    border-radius: var(--tedlife-bdr-radius);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 10px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.sidebar__category-list li a:hover {
    color: var(--tedlife-white);
}

.sidebar__category-list li.active a {
    color: var(--tedlife-white);
}

.sidebar__category-list li>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: var(--tedlife-base);
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    transform-origin: bottom right;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    z-index: -1;
}

.sidebar__category-list li:hover a::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transform-origin: top center;
}

.sidebar__category-list li.active a::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transform-origin: top center;
}

.sidebar__post {
    position: relative;
    display: block;
    padding: 32px 30px 30px;
    background-color: var(--tedlife-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__post .sidebar__title-box {
    margin-bottom: 17px;
}

.sidebar__post-list {
    position: relative;
    display: block;
}

.sidebar__post-list li {
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar__post-list li+li {
    margin-top: 13px;
}

.sidebar__post-image {
    position: relative;
    display: block;
    max-width: 75px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__post-image img {
    width: 100%;
    border-radius: var(--tedlife-bdr-radius);
    filter: grayscale(1);
}

.sidebar__post-content {
    position: relative;
    display: block;
    margin-left: 20px;
}

.sidebar__post-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: var(--tedlife-font);
    font-family: var(--tedlife-font-two);
    text-transform: uppercase;
}

.sidebar__post-title a {
    color: var(--tedlife-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sidebar__post-title a:hover {
    color: var(--tedlife-base);
}

.sidebar__post-date {
    font-size: 14px;
    margin-top: 6px;
}

.sidebar__post-date span {
    position: relative;
    margin-right: 10px;
    font-weight: 900;
    color: var(--tedlife-base);
}

.sidebar__tag {
    position: relative;
    display: block;
    padding: 32px 30px 30px;
    background-color: var(--tedlife-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__tag .sidebar__title-box {
    margin-bottom: 11px;
}

.sidebar__tag-list a {
    font-size: 14px;
    color: var(--tedlife-gray);
    background-color: var(--tedlife-primary);
    display: inline-block;
    padding: 4px 15px 5px;
    margin-left: 7px;
    line-height: 30px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__tag-list a+a {
    margin-left: 6px;
    margin-top: 10px;
}

.sidebar__tag-list a:hover {
    background-color: var(--tedlife-base);
    color: var(--tedlife-white);
}

.sidebar__comments {
    position: relative;
    display: block;
    padding: 32px 30px 30px;
    background-color: var(--tedlife-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    border-radius: var(--tedlife-bdr-radius);
}

.sidebar__comments .sidebar__title {
    margin-bottom: 24px;
}

.sidebar__comments-list {
    position: relative;
    display: block;
}

.sidebar__comments-list li {
    position: relative;
    display: block;
    padding-left: 65px;
}

.sidebar__comments-list li+li {
    margin-top: 23px;
}

.sidebar__comments-icon {
    height: 45px;
    width: 45px;
    background-color: var(--tedlife-black);
    border-radius: 50%;
    font-size: 15px;
    color: var(--tedlife-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.sidebar__comments-list li:hover .sidebar__comments-icon {
    background-color: var(--tedlife-base);
    color: var(--tedlife-white);
}

.sidebar__comments-text-box p {
    font-size: 15px;
    margin: 0;
    line-height: 26px;
}

.sidebar__comments-text-box h5 {
    font-size: 16px;
    color: var(--tedlife-black);
    line-height: 26px;
    font-family: var(--tedlife-font);
    font-weight: 400;
}

/*--------------------------------------------------------------
# News List
--------------------------------------------------------------*/
.news-list {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 5;
}

.news-list__left {
    position: relative;
    display: block;
}

.news-list__single {
    position: relative;
    display: block;
    margin-bottom: 19px;
}

.news-list__img {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}

.news-list__img img {
    width: 100%;
    border-radius: var(--tedlife-bdr-radius);
    filter: grayscale(1);
}

.news-list__img>a {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--tedlife-black-rgb), 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--tedlife-base);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: perspective(400px) rotateX(-90deg) scale(0.2);
    -ms-transform: perspective(400px) rotateX(-90deg) scale(0.2);
    transform: perspective(400px) rotateX(-90deg) scale(0.2);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    border-radius: var(--tedlife-bdr-radius);
}

.news-list__img>a>span {
    position: relative;
}

.news-list__img>a>span::before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--tedlife-base);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease;
}

.news-list__img>a>span::after {
    content: '';
    transition: all 500ms ease;
    width: 2px;
    height: 20px;
    background-color: var(--tedlife-base);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-list__img>a:hover>span::before,
.news-list__img>a:hover>span::after {
    background-color: var(--tedlife-white);
}

.news-list__single:hover .news-list__img>a {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg) scale(1.0);
    -ms-transform: perspective(400px) rotateX(0deg) scale(1.0);
    transform: perspective(400px) rotateX(0deg) scale(1.0);
}

.news-list__content {
    position: relative;
    display: block;
    padding-top: 30px;
}

.news-list__meta {
    position: relative;
    display: flex;
    align-items: center;
}

.news-list__meta p {
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.news-list__meta p+p {
    margin-left: 20px;
}

.news-list__meta p span {
    position: relative;
    margin-right: 10px;
    color: var(--tedlife-base);
}

.news-list__title-1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 18px;
}

.news-list__title-1 a {
    color: var(--tedlife-black);
}

.news-list__title-1 a:hover {
    color: var(--tedlife-base);
}

.news-list__read-more {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    color: var(--tedlife-black);
    font-family: var(--tedlife-font-two);
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
}

.news-list__read-more:hover {
    color: var(--tedlife-base);
}

.news-list__read-more span {
    position: relative;
    font-weight: 900;
    top: -2px;
    font-size: 16px;
}

.news-list__pagination {
    position: relative;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.news-list__pagination .pg-pagination li {
    display: inline-block;
    margin-right: 10px;
}

.news-list__pagination .pg-pagination li a {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 63px;
    display: inline-block;
    color: var(--tedlife-black);
    font-weight: 600;
    font-size: 20px;
    border-radius: var(--tedlife-bdr-radius);
    background-color: var(--tedlife-primary);
    font-family: var(--tedlife-font-two);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.news-list__pagination .pg-pagination li:first-child a {
    background-color: transparent;
    color: var(--tedlife-base);
}

.news-list__pagination .pg-pagination li:last-child a {
    background-color: transparent;
    color: var(--tedlife-base);
}

.news-list__pagination .pg-pagination li:hover a,
.news-list__pagination .pg-pagination li.active a {
    background-color: var(--tedlife-base);
    color: var(--tedlife-black);
}


/*--------------------------------------------------------------
# News Carousel Page
--------------------------------------------------------------*/
.news-carousel-page {
    position: relative;
    display: block;
    padding: 120px 0 170px;
}

.news-carousel-page .news-one-sec__single {
    margin-bottom: 0;
}








/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/